*{
  font-family: 'Varela Round', sans-serif;
  background:#fdfafa;
  font-weight: 8px;
  
}


.logo-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 2% auto;
  border: 2px solid #f5f6f7;
  border-top: none;
  width: 80%;
}

a{
  text-decoration: none;
  }

.imagen-icon{
  position:relative;
  top: 20px;
  width: 100px;
  margin-left: 15px;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 40px;
  
}

.caja-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 2px 2px;
  padding: 5px 10px;
  list-style: none;
}

.h1-inicio{
  margin: 2% auto;
  border-bottom: 2px solid #f5f6f7;
  width: 80%;
  font-size: 24px;
  font-weight: 400;
  color: #63707e;
  padding: 20px 0px 40px;
  text-align: center;
}



/*

.imagen-icon{
  display: inline-block;
  position:relative;
  width: 20%;
  padding: 20px 10px 25px 150px;
  z-index: 1;
}

.menu li{
  display:inline-block;
  flex-direction: column;
  margin-right: 15px;

}

.caja-menu a{
  color: rgb(145, 153, 153);
position: relative;
left: 900px;
bottom: 80px;

}
.h1-inicio{
  color:rgb(110, 117, 117);
  text-align:center;
  position: relative;
  margin: -40px 250px 50px;
  font-size: 20px;
  z-index: 3;
}


.imagen1{
 width: 85%;
 height: 80%;
 position: relative;
 bottom: 100px;
 right: 80px;
}

.pie-imagen h1{
  color: rgb(124, 133, 133);
  display: inline-block;
  font-size: 25px;
  position: relative;
  left: 800px;
  padding: 10px;
  text-align: left;
  bottom: 500px;
}

.pie-imagen button{
  display: inline-block;
  color: #fbfdfd;
  width: 220px;
  height: 45px;
  font-size: 20px;
  position: relative;
  left: 620px;
  padding: 5px;
  text-align: center;
  bottom: 440px;
  background-color: rgb(10, 179, 179);
  border: solid #fdfafa;
  border-radius: 5px;
}

.icon{
  display:flex;
  top: 2px;
  border-radius: 20px;
  width: 17px;
  height: 16px;
  position: relative;
  float: right;
}

.boton-1:hover{
  text-align: justify;
  background:linear-gradient(to bottom, #12afc4, #0b6c79)
}
.icon:hover{
  text-align: justify;
  background:linear-gradient(to bottom, #12afc4, #0b6c79)
}

.opciones-menu{
  display: flex;
  height: 300px;
  width: 500px;
  position: relative;
  flex-direction: row;
  align-items: center;
  bottom: 100px;
  flex-grow: 1;
}

.opcion1{
  width: 500px;
  height: 600px;
  margin: 50px;
  position: relative;
  margin-left: 120px;
  text-align: center;
  bottom: 75px;
  background:linear-gradient(to bottom, #dbe1e2, #eff7f8, #fbfdfd,#eff7f8,#dbe1e2);
}
.opcion2{
  width: 500px;
  height: 600px;
  margin: 5px;
  position: relative;
  text-align: center;
  bottom: 75px;
  background:linear-gradient(to bottom, #dbe1e2, #eff7f8, #fbfdfd,#eff7f8,#dbe1e2);
}
.opcion3{
  width: 500px;
  height: 600px;
  margin: 50px;
  margin-right: 180px;
  margin-top: 55px;
  position: relative;
  text-align: center;
  bottom: 75px;
  background:linear-gradient(to bottom, #dbe1e2, #eff7f8, #fbfdfd,#eff7f8,#dbe1e2);
}

.opcion1-img{
  display: flex;
  width: 200px;
  height: 200px;
  margin-left: 45px;
  margin-top: 50px;
  border:40px solid #fdfafa;
  border-radius: 100%;
}

.opcion2-img{
  display: flex;
  width: 200px;
  height: 200px;
  margin-left: 45px;
  margin-top: 50px;
  border:40px solid #fdfafa;
  border-radius: 100%;
}
.opcion3-img{
  display: flex;
  width: 200px;
  height: 200px;
  margin-left: 45px;
  margin-top: 50px;
  border:40px solid #fdfafa;
  border-radius: 80%;

}

.opcion1-h1{
  font-size: 12px;
  color: rgb(45, 190, 190) ;
  margin-top: 40px;
  margin-left: 60px;
  width: 60%;
  text-align: center;
  
}

.opcion2-h1{
  font-size: 12px;
  color: rgb(45, 190, 190) ;
  margin-top: 40px;
  margin-left: 28px;
  width: 80%;
  text-align: center;
  
}
.opcion3-h1{
  font-size: 12px;
  color: rgb(45, 190, 190) ;
  margin-top: 40px;
  margin-left: 13px;
  width: 90%;
  text-align: center;
  
}

.parrafo-1{
  color: rgb(79, 85, 85);
  margin-top: 30px;
  margin-left: 13px;
  width: 90%; 
  
}
.parrafo-2{
  color: rgb(79, 85, 85);
  margin-top: 30px;
  margin-left: 13px;
  width: 90%; 

}
.parrafo-3{
  color: rgb(79, 85, 85);
  margin-top: 30px;
  margin-left: 13px;
  width: 90%;
}
.boton_1{
  display: inline-block;
  width: 240px;
  height: 50px;
  margin-left: 100px;
  font-size: 20px;
  position: relative;
  background-color: rgb(10, 179, 179);
  border: solid #fdfafa;
  border-radius: 7px;
  color: #f9fbfc;
}
.boton_1 div{
  top: 3px;
  right: 10px;
  color: #12afc4;
}
.boton_2{
  display: inline-block;
  width: 240px;
  height: 50px;
  margin-left: 100px;
  font-size: 20px;
  position: relative;
  background-color: rgb(10, 179, 179);
  border: solid #fdfafa;
  border-radius: 7px;
  color: #f9fbfc;
}
.boton_2 div{
  top: 3px;
  right: 10px;
  color: #12afc4;
}
.boton_3{
  display: inline-block;
  width: 240px;
  height: 50px;
  margin-left: 100px;
  font-size: 20px;
  position: relative;
  background-color: rgb(10, 179, 179);
  border: solid #fdfafa;
  border-radius: 7px;
  color: #f9fbfc;
}
.boton_3 div{
  top: 3px;
  right: 10px;
  color: #12afc4;
}

.boton_1:hover{
  text-align: justify;
  background:linear-gradient(to bottom, #12afc4, #0b6c79)
}
.boton_2:hover{
  text-align: justify;
  background:linear-gradient(to bottom, #12afc4, #0b6c79)
}
.boton_3:hover{
  text-align: justify;
  background:linear-gradient(to bottom, #12afc4, #0b6c79)
}

*/

footer{
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 50px;
  text-align: center;
}

footer p{
background-color: #0b6c79;
}

