*{
  font-family: 'Varela Round', sans-serif;
  background:#fdfafa;
  font-weight: 8px;
  
}


.logo-menu{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  align-items: center;
  margin: 2% auto;
  border: 2px solid #f5f6f7;
  border-top: none;
  width: 80%;
}

a{
  text-decoration: none;
  }

.imagen-icon{
  position:relative;
  top: 20px;
  width: 100px;
  margin-left: 15px;
}

.menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 80%;
  height: 40px;
  
}

.caja-menu{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  width: 80%;
  margin: 2px 2px;
  padding: 5px 10px;
  list-style: none;
}

.h1-inicio{
  margin: 2% auto;
  border-bottom: 2px solid #f5f6f7;
  width: 80%;
  font-size: 24px;
  font-weight: 400;
  color: #63707e;
  padding: 20px 0px 40px;
  text-align: center;
}




.pie-pagina, .social, .navegacion-footer, .copyright{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: 150px;
  margin: auto;
}


.copyright > p{
  background-color: #384a5f;
  color: white;
  margin: auto;
}

.social{
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  margin: auto;
  padding: 5px;
}

.triangulo-img{
  display: flex;
  justify-content: center;
}
